@use '../../assets/scss/mixins';

.demo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(var(--color-bg) / 75%);
  overflow: auto;
  padding: 0 70px;
  @include mixins.background-blur(10px);
  &__wrap {
    border: 1px solid #000;
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(var(--color-bg));
  }
}
