@use '../assets/scss/mixins';

.content {
  &__body {
    --size-margin-vertical: 1rem;
    --size-text: 14px;
    --color-text: rgb(var(--color-fill));
    --color-text-title: rgb(var(--color-fill));
    --color-text-key: rgb(var(--color-main));
    --color-text-code: rgb(var(--color-main));
    //--color-content-bg: red;
    //--color-content-line: lime;
    --size-text-length: 1.45;
    pre {
      background: linear-gradient(135deg, rgb(99 70 206 / 80%) 0%, rgb(56 193 159 / 90%) 100%);
      border-radius: 2px;
      color: rgb(var(--color-bg));
      padding: 1.5rem;
      > code {
        color: rgb(var(--color-bg));
        //font-weight: 700;
        //font-family: var(--font-eng);
        //letter-spacing: .25px;
      }
    }
  }
  @include mixins.responsive(tablet) {
    &__body {
      --size-text: 16px;
    }
  }
}
